@mixin animateDrawLine {
    animation-name: drawLine;
    animation-duration: 1.25s;
    animation-delay: 0.2s;
    animation-fill-mode: both;
    transform-origin: left center; 
}
.img_box {
    @include size (100%, auto);
    position: relative;
    overflow: hidden;

    .holder {
        padding-bottom: 50%;
    }

    img {
        width: 100%;
        min-width: 100%;
        // min-height: 100%;
        @include center;
    }
}

.more_btn {
    display: block;
    padding: 4px 24px;
    border: 1px solid $primary;
    @include font-size(16px);
    font-weight: 500;
    color: $primary;
    word-break: keep-all;
    white-space: nowrap;
    transition: 0.3s ease;

    &:hover {
        background: $secondary-gradient-v-hover;
        color: white;
    }
}

h2.pg_title {
    position: relative;
    padding-right: 8px;
    @include font-size(32px);
    font-weight: bold;
    line-height: 1.8;
    text-align: center;
    color: $primary;
    &::after {
        content: "";
        width: 36px;
        height: 2px;
        background-color: $primary;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    &.gold {
        color: $secondary;
        &::after {
            background-color: $secondary;
        }
    }
    &.en {
        @include font-size(62px);
        line-height: 1;
        font-weight: 300;
        color: $primary-color-light-50;
    }

    @include media-breakpoint-down(md) {
        @include font-size(30px);
    }
    
    @include media-breakpoint-down(xs) {
        @include font-size(28px);
    }
}

h2.pg_detail_title {
    @include font-size(32px);
    font-weight: bold;
    color: $primary;
    &.dark {
        color: $main-dark;
    }

    @include media-breakpoint-down(md) {
        @include font-size(28px);
    }
    
    @include media-breakpoint-down(xs) {
        @include font-size(26px);
    }
}

.detail_title {
    display: flex;
    align-items: flex-end;
    margin-bottom: 20px;

    h2 {
        padding-right: 4px;
        @include font-size(48px);
        color: $main-dark;
        font-weight: bold;

        @include media-breakpoint-down(md) {
            @include font-size(40px);
        }

        @include media-breakpoint-down(xs) {
            @include font-size(32px);
        }
    }

    .line {
        flex-grow: 1;
        border-top: 1px solid #4D4D4D;
        position: relative;
        top: -10px;
    }

}
.detail_subtitle {
    display: flex;
    align-items: flex-end;
    margin-bottom: 20px;

    h2 {
        padding-right: 4px;
        @include font-size(36px);
        color: $main-dark;
        font-weight: bold;

        @include media-breakpoint-down(md) {
            @include font-size(32px);
        }

        @include media-breakpoint-down(xs) {
            @include font-size(28px);
        }
    }

    .line {
        flex-grow: 1;
        border-top: 1px solid #4D4D4D;
        position: relative;
        top: -10px;
    }

}
.detail_info {
    margin-bottom: 50px;

    .class_label {
        display: inline-block;
        width: fit-content;
        padding: 3px 8px;
        margin-right: 12px;
        background-color: $light-gray-scale5;
        span {
            position: relative;
            display: inline-block;
            padding: 0px 12px;
            @include font-size(16px);
            font-weight: 500;
            color: #4D4D4D;
            &:not(:first-child)::before {
                content: "";
                position: absolute;
                top: 5px;
                left: 0;
                @include size(auto, 16px);
                border-right: 1px solid #4D4D4D;
            }
        }
    }

    .date {
        display: inline-block;
        @include font-size(16px);
        color: $dark-secondary;
    }

    @include media-breakpoint-down(md) {
        margin-bottom: 20px;
    }
}



// 頁籤
.pg_tab_list {
    width: fit-content;
    margin: 0 auto 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    li {
        display: inline-block;
        margin-bottom: 12px;
        line-height: 1.2;

        a {
            position: relative;
            padding: 0 12px;
            color: $dark-secondary;
            @include font-size(16px);
            @include media-breakpoint-down(sm) {
                @include font-size(15px);
            }
            &.active {
                color: $primary;
            }
            &::after {
                content: "";
                display: block;
                position: absolute;
                width: 0;
                bottom: -10px;
                left: 50%;
                transform: translateX(-50%);
                transition: all 0.3s ease;
                border-bottom: 4px solid $primary;
            }
            &:hover::after {
                width: calc(100% - 12px);
            }
        }
        &:not(:first-child) {
            border-left: 1px solid $dark-secondary;
        }
    }
    @include media-breakpoint-down(md) {
        margin: 0 auto 40px;
    }
}

// 頁碼
.pgs_list {
    width: fit-content;
    padding: 0;
    margin: 0 auto;
    color: $dark-secondary;
    span {
        display: inline;
        margin-bottom: 0
    }
    li {
        @include size(36px, 36px);
        display: inline-block;
        a {
            @include size(100%, auto);
            font-size: 15px;
            font-weight: 600;
            color: $dark-secondary;
            text-align: center;
            padding: 4px;
        }
        &:hover {
            background-color: rgba(110, 110, 110, 0.1);
            a {
                color: $main-dark;
            }
        }
        &.current {
            a {
                color: $primary-color;
            }
        }
    }
}

@keyframes drawLine {
    0% {
        transform: scaleX(0);
    }
    100% {
        transform: scaleX(1);
    }
}

// 漸層按鈕
a.linear_btn {
    display: block;
    position: relative;
    @include size(100%, fit-content);
    padding: 12px 16px;
    overflow: hidden;
    transition: 0.3s ease;
    > p {
        @include size(100%);
        color: white;
        @include font-size(20px);
        line-height: 1.3;
        text-align: center;
        z-index: 1;
        position: relative;
    }
    &::before {
        content: "";
        background: $secondary-gradient-v;
        position: absolute;
        bottom: 0;
        left: 0;
        @include size(100%, 200%);
        z-index: 0;
        transition: all 0.3s ease;
    }
    @include media-breakpoint-up(md) {
        &:hover {
            &::before {
                transform: translateY(50%);
            }
        }
    }
    
}
.detail_title.inline {
    position: relative;
    display: block;
    h2 {
        display: inline;
        background-color: white;
    }
    .line {
        position: absolute;
        top: auto;
        right: 0;
        bottom: 4px;
        width: 100%;
        z-index: -1;
    }
}

// 最新消息卡片
.news_card {
    width: 100%;
    margin-bottom: 30px;
    .img_box {
        width: 100%;
        
        position: relative;
        background-color: #f1f1f1;
        &::before {
            content: "";
            display: block;
            width: 100%;
            padding-bottom: 83%;
        }
        img {
            width: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    .content_box {
        padding: 15px;
        background-color: white;
        .catagory {
            width: fit-content;
            padding: 1px 12px;
            margin-bottom: 12px;
            border: 1px solid $dark-secondary;
            @include font-size(14px);
            color: $dark-secondary;
            text-align: center;
    
        }
        .title {
            @include font-size(22px);
            font-weight: bold;
            line-height: 1.3;
            color: $primary;
            margin-bottom: 8px;
            min-height: 56px;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .text {
            @include font-size(16px);
            color: $dark-secondary;

            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
    .prize {
        @include font-size(22px);
        font-weight: bold;
        color: $main-dark;
    }
    @include media-breakpoint-down(md) {
        .content_box { 
            .title {
                @include font-size(20px);
                min-height: 50px;
            }
        }
        
    }
    @include media-breakpoint-down(sm) {
        display: flex;
        .img_box {
            width: 30%;
            min-width: 140px;
        }
        .content_box {
            width: 70%;
            .text {
                display: none;
            }
        }

    }
}

// 產品卡片
.product_card {
    width: 100%;
    box-shadow: 0 0 20px 4px rgba( 0, 0, 0, 0.25);
    .img_box {
        width: 100%;
        position: relative;
        background-color: #f1f1f1;
        &::before {
            content: "";
            display: block;
            width: 100%;
            padding-bottom: 100%;
        }
        img {
            width: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    .content_box {
        padding: 15px;
        background-color: white;
        .catagory {
            display: inline-block;
            width: fit-content;
            min-width: 150px;
            max-width: 100%;
            padding: 1px 12px;
            margin-bottom: 12px;
            @include font-size(14px);
            color: white;
            text-align: center;
            background-color: $secondary;
            word-break: keep-all;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        .title {
            @include font-size(22px);
            font-weight: bold;
            line-height: 1.3;
            color: $main-dark;
            margin-bottom: 0px;
            min-height: 60px;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .text {
            @include font-size(16px);
            color: $dark-secondary;

            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .prize {
            @include font-size(22px);
            font-weight: bold;
            color: $main-dark;
        }
    }
    @include media-breakpoint-down(lg) {
        .content_box {
            .title {
                @include font-size(20px);
            }
            .prize {
                @include font-size(20px);
            }
            
        }
    }
    @include media-breakpoint-down(md) {
        .content_box {
            .title {
                @include font-size(18px);
            }
            .prize {
                @include font-size(18px);
            }
        }
    }
    @include media-breakpoint-down(sm) {
        .content_box {
            padding: 10px;
            .catagory {
                @include font-size(13px);
                min-width: auto;
                max-width: 100%;
            }
            .title {
                @include font-size(16px);
                min-height: 50px;
            }
            .prize {
                @include font-size(16px);
            }
        }
    }
}

// 品牌卡片
.brand_card {
    width: 100%;
    .img_box {
        width: 100%;
        position: relative;
        &::before {
            content: "";
            display: block;
            width: 100%;
            padding-bottom: 100%;
        }
        img {
            width: 100%;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    .content_box {
        padding: 30px 15px;
        .title {
            @include font-size(20px);
            font-weight: bold;
            color: $main-dark;
            text-align: center;
            line-height: 1.3;
        }
    }
    @include media-breakpoint-down(lg) {
        .content_box {
            padding: 20px 15px;
        }
    }
    @include media-breakpoint-down(md) {
        .content_box {
            padding: 20px 15px;
            .title {
                @include font-size(18px);
            }
        }
    }
    @include media-breakpoint-down(sm) {
        .content_box {
            padding: 20px 0px;
        }
    }
}

.custom_btn {
    display: block;
    background-color: $main-dark;
    color: white;
    text-align: center;
    padding: 4px 20px;
    min-width: 136px;
    transition: all 0.3s ease;
    &:hover {
        background-color: $dark-secondary;
        color: white;
    }
    &.green {
        background-color: $primary;
        color: $secondary;
        &:hover {
            background-color: $primary-color-light;
            color: $secondary;
        }
    }
    &.gold {
        background-color: $secondary;
        &:hover {
            background-color: #d8a685;
        }
    }
}