.ckeditor {
  $primary:       #1F3082;
  $primaryLight:  #2354B5;
  $secondary:     #A8257B;
  $light:         white;
  $gray:          #808080;
  $dark:          #3F3F3F;
  $white:         #ffffff;;
  $tableBorder:   #dee2e6;
  $tableHeadBg:   #ECEFF3;

  &.navbar{
    background-color: $primary;
    justify-content: center;
    img{
      height: 66px;
    }
  }

  & + footer{
    background-color: $primaryLight;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
  }

  /* 後台編輯器 控制按鈕 */
  .control-btnGroup {
    padding: 1rem 2.5rem;
    text-align: right;
    i {
      font-size: 2.5rem;
      cursor: pointer;
      &:hover {
        color: #d3060f; // 紅色較凸顯或也可以改用$primary
      }
    }
  }

  /* 主標題 */
  .title {
    font-weight: 700;
    margin: 0.5rem auto;
    font-size: 1.5rem;
    color: $dark;
    @media all and (max-width: 992px) {
      font-size: 1.375rem;
    }
  }
  /* 副標題 */
  .title-sub {
    margin: 1rem auto;
    font-size: 1.25rem;
    color: $dark;
    font-weight: bold;
    @media all and (max-width: 992px) {
      font-size: 1.125rem;
    }
  }
  /* 內容 */
  .text {
    margin: 0.5rem auto;
    font-size: 1rem;
    line-height: 1.7;
    color: $gray;
    @media all and (max-width: 992px) {
      font-size: 0.9375rem;
    }
  }
  /* 圖片、影片的說明文字 */
  .text-sub {
    margin: 1rem auto ;
    font-size: 1rem;
    text-align: center;
    color: $gray;
    font-weight: bold;
    line-height: 1.3;
    &.display-6 {
      font-size: 1.5rem;
    }
  }
  /* 圖片上的文字 */
  .text-under {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .img-fluid{
    width: 100%;
    &.rounded-20 {
      border-radius: 10px !important;
      @media (min-width: 768px) {
        border-radius: 20px !important;
      }
    }
  }
  hr {
    background-color: $secondary;
  }

  .table{
    white-space: nowrap;
    margin-top: 10px;
    margin-bottom: 10px; // for 表格模組間距更大
    @media (min-width: 768px) {
      margin-top: 20px;
      margin-bottom: 20px; // for 表格模組間距更大
    }
    thead th {
      vertical-align: middle;
    }
    th, td {
      text-align: center;
      vertical-align: middle;
      border: solid 4px $white;
      color: $dark;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      @media (min-width: 768px) {
        font-size: 16px;
        line-height: 22px;
      }
    }
    th{
      background-color: $tableHeadBg;
      font-size: 1.375rem;
      font-weight: bold;
      color: $primary;
      @media (max-width: 992px) {
        font-size: 1.125rem;
      }
    }
    td{
      background-color: white;
      position: relative;
      font-size: 1.125rem;
      &::after {
        content: "";
        width: 100%;
        height: 1px;
        position: absolute;
        left: 0;
        bottom: 0;
        background-color: #CCCCCC;
      }
      @media (max-width: 992px) {
        font-size: 1rem;
      }
    }
    // 表格[型號表格]
    .table-model & {
      thead th {
        background-color: #E6E6E6;
      }
      th, td {
        text-align: center;
        &:nth-child(2n) {
          background-color: transparent;
        }
      }
      td{
        background-color: transparent;
      }
    }
    // 左標題右內容
    .table-vertical {
      
    }
    // 上標題下內容
    .table-horizontal {

    }
  }

  .img-box-round {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    img {
      position: absolute;
      width: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  /* 人物姓名 */
  .person-name {
    background: linear-gradient(270deg, rgba(115, 51, 136, 0.4) 0%, #733388 21.35%, #733388 78.13%, rgba(115, 51, 136, 0.4) 100%);
    color: $light;
    text-align: center;
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 2.3;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  /* 人物職稱 */
  .person-title {
    color: $primary;
    text-align: center;
    font-size: 1.3rem;
    line-height: 1.7;
  }
  /* 人物介紹 */
  .person-intro {
    color: $dark;
    text-align: center;
    font-size: 1.1rem;
    line-height: 1.5;
  }

  .member-img {
    max-width: 40%;
  }
  /* 會員資料 */
  .member-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 10px;
  }
  /* 會員姓名 */
  .member-name {
    color: $primary;
    font-size: 1.3rem;
    line-height: 1.7;
  }
  /* 會員職稱 */
  .member-title {
    color: $dark;
    font-size: 1.1rem;
    line-height: 1.5;
  }
  /* 會員標籤 */
  .member-intro {
    color: $secondary;
    background-color: rgba($color: $primaryLight, $alpha: 0.5);
    display: inline;
    font-size: 0.9rem;
    line-height: 1.6;
    padding: 2px 6px;
    margin-top: auto;
    margin-right: 0.5rem;
    border-radius: 2px;
  }

  // 兆票 表格[聯絡資訊]
  .custom-table {
    width: 100%;
    margin: 0 auto !important;
    border-top: 4px solid white;
    border-left: 4px solid white;
    p {
      padding: 5px 0px;
      margin: 0;
    }
    .col-md-4,.col-md-3,.col-md-8,.col-md-9{
      border-right: 4px solid white;
      border-bottom: 4px solid white;
      display: flex;
      align-items: center;
    }
    .col-md-4,
    .col-md-3 {
      text-align: center;
      vertical-align: middle;
      background-color: #F8F5F1;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .col-md-8,
    .col-md-9 {
      background-color: #F6F6F6;
    }
    .right {
      .col-md-6 {
        border-bottom: 4px solid white;
        display: flex;
        align-items: center;
        &:nth-last-child(1), &:nth-last-child(2) {
          border-bottom: 0px;
        }
        &:nth-child(2n-1) {
          border-right: 4px solid white;
        }
      }
      .col-12:not(:last-child) {
        border-bottom: 4px solid white;
        // display: flex;
        // align-items: center;
        // &:nth-last-child(1), &:nth-last-child(2) {
        //   border-bottom: 0px;
        // }
        // &:nth-child(2n-1) {
        //   border-right: 4px solid white;
        // }
      }
    }
    @media all and (max-width: 768px) {
      p{
        text-align: start;
      }

      .col-md-4,.col-md-3,.col-md-8,.col-md-9{
        border-right: 4px solid white;
        border-bottom: 4px solid white;
        justify-content: start;
      }
      .right .col-md-6 {
        &:nth-last-child(2) {
          border-bottom: 4px solid white;
        }
        &:nth-child(2n-1) {
          border-right: 0px solid white;
        }
      }
    }
  }

  // 兆票 主標副標內容[灰底]
  .text-bg-gray {
    padding: 20px;
    .bg-lightgray {
      border-radius: 16px;
      background-color: #F6F6F6;
    }
    .text-purple {
      color: #5C1979;
    }
  }

  // 兆票 主標副標內容[左右]
  .center_line {
    width: 1px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(0,0,0,.1);
    @media all and (max-width: 768px) {
      display: none;
    }
  }

  // 聯輔會 list樣式
  .custom-list-smecf {
    padding-left: 12px;

    .list-item {
      margin-bottom: 0;
      display: flex;
      flex-wrap: nowrap;
      margin-bottom: 12px;
      position: relative;
      list-style: none;
      &::before {
        content: "";
        width: 8px;
        height: 8px;
        background: linear-gradient(to right, rgba(255, 214, 0, 1) 0%, rgba(69, 199, 191, 1) 100%);
        position: absolute;
        left: -12px;
        top: 8px;
        border-radius: 99999px;
      }
    }
    .list-title {
      width: fit-content;
      padding-right: 8px;
      font-size: 1rem;
      font-weight: bold;
      word-break: keep-all;
      min-width: 72px;
      line-height: 1.8;
    }
    .list-content {
      font-size: 1rem;
      line-height: 1.8;
    }
    &.en {
      p {
        display: inline-block;
        width: auto;
      }
      .list-item {
        display: list-item;
        margin-bottom: 12px;
        position: relative;
        &::before {
          content: "";
          width: 8px;
          height: 8px;
          background: linear-gradient(to right, rgba(255, 214, 0, 1) 0%, rgba(69, 199, 191, 1) 100%);
          position: absolute;
          left: -12px;
          top: 8px;
          border-radius: 99999px;
        }
      }
    }
  }

  .dot-card {
    padding-left: 15px;
    margin-bottom: 20px;
    p.h4 {
      position: relative;
      &::before {
        content: "";
        position: absolute;
        top: 6px;
        left: -11px;
        width: 4px;
        height: 16px;
        background-color: #93C22E;
        border-radius: 999px;
      }
    }
  }

  .contact-qrcode {
    border-radius: 20px;
    background-color: #F3F3F3;
    padding: 20px;
    justify-content: center;
    p {
      margin: 10px 0;
    }
  }

  // 崇威 首頁 圓照片卡片
  .manufacturing_capabilities__card {
    padding: 0 5px;
    .img_box {
      border-radius: 50%;
      position: relative;
      overflow: hidden;
      .holder {
        padding-bottom: 100%;
      }
      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-width: 100%;
        min-height: 100%;
      }
    }
    p {
      font-size: 1.5rem;
      font-weight: bold;
      color: #153367;
      text-align: center;
    }
    @media all and (max-width: 992px) {
      p {
        font-size: 1.375rem;
      }
    }
    @media all and (max-width: 768px) {
      p {
        font-size: 1.25rem;
      }
    }
  }

  // 崇威 圖片加灰框
  img.border {
    border: 1px solid #B3B3B3;
  }
  // 崇威 標題、項次
  .diamond_icon_list {
    width: 100%;
    padding: 30px;
    background-color: #ECEFF3;
    h3 {
      font-size: 2.5rem;
      font-weight: 700;
      color: $primary;
      margin-bottom: 30px;
    }
    ul {
      list-style: none;
      padding-left: 0px;
      li {
        margin-bottom: 16px;
        p {
          font-size: 1.375rem;
          color: $primary;
          display: inline;
        }

        &::before {
          content: "";
          display: inline-block;
          position: relative;
          bottom: 4px;
          margin-right: 6px;
          width: 9px;
          height: 9px;
          background-color: $primary;
          transform: rotate(45deg);
        }
      }
    }
    @media all and (max-width: 992px) {
      h3 {
        font-size: 2.125rem;
      }
      ul {
        li {
          p {
            font-size: 1.25rem;
          }
        }
      }
    }
    @media all and (max-width: 768px) {
      ul {
        li {
          p {
            font-size: 1.125rem;
          }
        }
      }
    }
  }

  // 崇威 左文[標題、內文]右文[標題、項次]
  .info_icon_list {
    width: 100%;
    padding: 30px;
    background-color: #ECEFF3;
    h3 {
      font-size: 2.5rem;
      font-weight: 700;
      color: $primary;
      margin-bottom: 30px;
    }
    ul {
      list-style: none;
      padding-left: 0px;
      li {
        margin-bottom: 16px;
        p {
          font-size: 1.375rem;
          color: $primary;
          display: inline;
        }
        i {
          position: relative;
          bottom: 2px;
          margin-right: 6px;
        }
        i:before {
          color: $primary;
        }
        // &::before {
        //   content: "";
        //   display: inline-block;
        //   position: relative;
        //   bottom: 4px;
        //   margin-right: 6px;
        //   width: 9px;
        //   height: 9px;
        //   background-color: $primary;
        //   transform: rotate(45deg);
        // }
      }
    }
    a.contact_link {
      display: block;
      width: fit-content;
      padding: 20px;
      margin: 0 0 0 auto;
      font-size: 1.5rem;
      font-weight: bold;
      color: $primary;
      background-color: white;
      transition: all 0.3s ease;
      &:hover {
        text-decoration: none;
        color: white;
        background-color: $primary;
  
      }
    }
    @media all and (max-width: 992px) {
      h3 {
        font-size: 2.125rem;
      }
      ul {
        li {
          p {
            font-size: 1.25rem;
          }
        }
      }
      a.contact_link {
        padding: 15px;
        font-size: 1.375rem;
      }
    }
    @media all and (max-width: 768px) {
      ul {
        li {
          p {
            font-size: 1.125rem;
          }
        }
      }
    }
  }

  .grid_icon_list {
    h3 {
      font-size: 2rem;
      font-weight: bold;
      color: $primary;
      margin-bottom: 24px;
    }
    ul {
      list-style: none;
      padding-left: 0;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin: 0 -15px;
      li {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
        margin-bottom: 20px;
        padding: 0 15px;
        p {
          font-size: 1.375rem;
          color: $primary;
          display: inline;
        }
        &::before {
          content: "";
          display: inline-block;
          position: relative;
          bottom: 4px;
          margin-right: 6px;
          width: 9px;
          height: 9px;
          background-color: $primary;
          transform: rotate(45deg);
        }
      
      }
      @media all and (max-width: 992px) {
        h3 {
          font-size: 2.125rem;
        }
        li {
          p {
             font-size: 1.125rem;
          }
        }
      }
      @media all and (max-width: 768px) {
        li {
          flex: 0 0 50%;
          max-width: 50%;
        }
      }
      @media all and (max-width: 576px) {
        li {
          flex: 0 0 100%;
          max-width: 100%;
        }

      }
    }
  }
}

